<!-- Toolbar -->
<div class="toolbar" role="banner">
  <span>{{ title }} </span>
  <div *ngIf="yearlyData.length > 0" class="filterClass">
    <label>Year: </label>
    <select #teams (change)="selected(teams.value)">
      <option default>Pick a Year</option>
      <option *ngFor="let item of yearlyData">
        {{ item }}
      </option>
    </select>
  </div>
</div>

<!-- KPI Cards -->
<div class="card-container" role="main" style="margin-top: 75px">
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title
        >Total Population for Year: {{ selectedYear }}</mat-card-title
      >
    </mat-card-header>
    <mat-card-content>
      <p>{{ total_pop }}</p>
    </mat-card-content></mat-card
  >
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title
        >Population Density for Year: {{ selectedYear }}</mat-card-title
      >
    </mat-card-header>
    <mat-card-content>
      <p>{{ pop_density }}</p>
    </mat-card-content></mat-card
  >
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title
        >Population Growth Rate for Year: {{ selectedYear }}</mat-card-title
      >
    </mat-card-header>
    <mat-card-content>
      <p>{{ pop_growth }}</p>
    </mat-card-content></mat-card
  >
</div>
<div class="card-container">
  <app-scatter-plot
    [chartData]="filterData"
    class="chartContainer"
  ></app-scatter-plot>
</div>

<router-outlet></router-outlet>
